<p-dialog
  header="Take Image"
  [(visible)]="showImageTaker"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: 'auto', height: '500px' }"
  [minY]="70"
  [maximizable]="true"
  [baseZIndex]="10000"
>
  <div class="camera">
    <!-- <webcam
      [height]="300"
      [width]="300"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      *ngIf="showWebcam"
      [allowCameraSwitch]="allowCameraSwitch"
      [switchCamera]="nextWebcamObservable"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      (cameraSwitched)="cameraWasSwitched($event)"
      (initError)="handleInitError($event)"
    ></webcam> -->
    <div id="my_camera" style="width:320px; height:240px;"></div>
  </div>
  <div class="snapshot" id="my_result">
    
  </div>
  <p-footer>
    <button type="button" (click)="capture()">Capture</button>
    <button type="button" (click)="done()">Done</button>
    <button type="button" (click)="exit()">Cancel</button>
  </p-footer>
</p-dialog>
