<p-dialog
  header="Take Image"
  [(visible)]="showImageTaker"
  [modal]="true"
  [responsive]="true"
  [style]="{ width: '780px', height: '500px' }"
  [maximizable]="true"
  [baseZIndex]="10000"
>
<div class="row" style="height: 360px">
  <div class="col" id="my_camera">

  </div>
  <div class="col">
    <h5>Captured Image</h5>
    <div style="text-align: center"> 
      <span *ngIf="(webcamImage === null)">Sample Image will appear here</span>
      <ng-container *ngIf="(webcamImage !== null)">
      <img [src]="webcamImage" class="img-responsive">

      </ng-container>
    </div>
  </div>
</div>
  
  <p-footer>
    <button type="button" (click)="capture()">Capture</button>
    <button
      type="button"
      (click)="done()"
      [disabled]="!(webcamImage && webcamImage.length > 0)"
    >
      Done
    </button>
    <button type="button" (click)="exit()">Cancel</button>
  </p-footer>
</p-dialog>
